.success {
  color: #003366;
  background-color: lightblue;
  border: solid 2px grey;
  border-radius: 4px;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  background-color: rgba(221, 190, 165, 0.774);
  border: solid 2px grey;
  border-radius: 4px;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 10px;
}

.person {
  border-top: solid 1px grey;
  padding: 10px 0 10px 0;
}

.app {
  padding-left: 10px;
}

.button {
  background-color: turquoise;
  border: none;
  border-radius: 4px;
  color: #1b4875b6;
  margin: 10px 0 10px 0;
  padding: 8px;

}

h1 {
  color: #333333;
}

h2 {
  color: #003366;
}

.name {
  margin-bottom: 2px;
  margin-left: 1rem;
}

.number {
  margin-left: 2px;
}
